<div class="window">
<footer>
    <div class="links">
        <a (click)="openDialog('impressum')" target="_blank">Impressum</a>
        <span>|</span>
        <div></div>
        <a (click)="openDialog('legal-notice')" target="_blank">Legal Notice</a>
    </div>
    <div class="copyright">© Marco von Baumbach {{ currentYear }}</div>
    <div class="icons">
        <a href="https://github.com/MarcovonBaumbach" target="_blank"><img src="assets/img/github.png"></a>
        <a href="mailto:marco.vonbaumbach@gmx.de"><img src="assets/img/email.png"></a>
        <a href="https://www.linkedin.com/in/marco-von-baumbach-7234b2268/" target="_blank"><img src="assets/img/linkedin.png"></a>
    </div>
</footer>
</div>
