.about-me-section {
    position: relative;
    padding-top: 143px;
    margin-bottom: 143px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    @media (max-width: 960px) {
        margin-left: 25px;
        padding-right: 25px;
    }
}

.about-me-text {
    max-width: 571px;
    z-index: 1;
    @media (max-width: 1400px) {
        max-width: 471px;
    }
}

.sub-category {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.img-bulb {
    height: 50px;
    width: auto;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
    @media (max-width: 960px) {
        padding-left: 0;
    }
}

.img-puzzle {
    height: 50px;
    width: auto;
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 20px;
    @media (max-width: 960px) {
        padding-left: 0;
    }
}

.img-blurred {
    position: absolute;
    right: 0;
    top: -250px;
}

.about-me-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        width: 453px;
        height: auto;
        border: 4px solid #00BEE8;
        border-radius: 50%;
        z-index: 2;
        @media (max-width: 1250px) {
            width: 30vw;
        }
    }

    div {
        border: 2px solid #00BEE8;
        height: 0;
        width: 10vw;
        z-index: 2;
        @media (max-width: 1250px) {
            width: 5vw;
        }
    }

    @media (max-width: 960px) {
        display: none;
    }
}