<header>
    <img class="photo-shadows" src="assets/img/photo-shadows.png">
    <img class="profile-picture" src="assets/img/profile1.png">
    <div class="span-name">
        <div class="rotate-text">I am</div>
        <div class="text-div">
            <span>Marco von Baumbach</span>
            <p>FRONTEND DEVELOPER</p>
            <button class="buttons button-blue" (click)="scrollToSection('contact')">Let's talk!</button>
        </div>
    </div>
    <app-icon-bar></app-icon-bar>
    <img class="curved-background" src="assets/img/curved-background.png">
</header>