header {
    height: 100vh;
    background-color: #141D2F;
}

.curved-background {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 377.6px);

    @media (max-width: 960px) {
        height: 700px;
        max-width: 100%;
        top: 38vh;
        object-fit: cover;
    }

    @media (max-width: 600px) {
        top: 30vh;
    }
}

.photo-shadows {
    position: absolute;
    top: 221px;
    left: 0;
    width: 700px;

    @media (max-width: 960px) {
        left: 0;
        width: unset;
        max-width: 700px;
    }

    @media (max-width: 600px) {
        top: 221px;
        width: 100%;
    }
}

.profile-picture {
    position: absolute;
    top: 15vh;
    left: 0;
    height: 70vh;
    
    @media (max-width: 960px) {
        top: 12vh;
    }

    @media (max-width: 600px) {
        height: unset;
        width: 100vw;
    }

    @media (max-width: 375px) {
        top: 20vh;
        height: unset;
        width: 100vw;
    }
}


.span-name {
    position: absolute;
    left: 50%;
    top: 297px;
    display: flex;
    justify-content: flex-start;
    z-index: 3;

    span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 3.0vw;
        color: #FFFFFF;
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 3.2vw;
        margin: 0;
        color: #4B47FF;
    }

    button {
        width: fit-content;
        margin-left: 10vw;
        margin-top: 35px;
        z-index: 1;
        @media (max-width: 960px) {
            margin-top: 15px;
            margin-left: 20vw;
        }
        @media (max-width: 600px) {
            margin-left: 0;
            width: 100%;
        }
    }

    @media (max-width: 960px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: unset;
        bottom: 75px;
        width: 90vw;


        span {
            font-size: 6vw;
        }
    
        p {
            font-size: 6.4vw;
        }
    }
}

.rotate-text {
   
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 3.2vw;
    color: #FFFFFF;
    transform: rotate(-90deg);
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
    height: fit-content;
    z-index: 3;

    @media (max-width: 960px) {
        font-size: 6.5vw;
        padding-top: 6.2vw;
    }
}


@media (max-width: 960px) {
    button {
        font-size: 23px;
    }
}
