<div class="icon-bar">
    <div class="icon-bar-left">
        <div class="violett-line"></div>
        <a href="https://github.com/MarcovonBaumbach" target="_blank"><img src="assets/img/github.png"></a>
        <a href="mailto:marco.vonbaumbach@gmx.de"><img src="assets/img/email.png"></a>
        <a href="https://www.linkedin.com/in/marco-von-baumbach-7234b2268/" target="_blank"><img src="assets/img/linkedin.png"></a>
        <span>marco.vonbaumbach@gmx.de</span>
    </div>
    <div class="icon-bar-right">
        <span class="hover-underline-animation" (click)="scrollToSection('contact')">Scroll down</span>
        <img (click)="scrollToSection('contact')" src="assets/img/arrow-down.png">
    </div>
</div>
