<header>
    <div class="no-color"></div>
    <div class="short-div"></div>
    <h2>Portfolio</h2>
    <div></div>
</header>
<span class="sub-headline">This page is a sample of my work - please feel free to try them out.</span>

<div class="project-img">
    <img src="assets/img/laptop-join.webp">
    <div class="project-content">
        <h3>Join</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <span>
            Task manager inspired by the Kanban System. 
            Create and organize tasks using drag and drop functions, 
            assign users and categories.
        </span>
        <div class="button-div">
            <button class="buttons button-violett" (click)="openProject('join')">Live test</button>
            <button class="buttons button-outline" (click)="openGithub('Join')">Github</button>
        </div>
    </div>
</div>

<div class="project-img project-reverse">
    <img src="assets/img/laptop-elpolloloco.webp">
    <div class="project-content content-reverse">
        <h3>El Pollo Loco</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <span>
            A simple Jump-and-Run game based on an object-oriented approach. 
            Help Pepe to collect coins and throw salsa bottles against the big chicken to defeat it.
        </span>
        <div class="button-div button-div-reverse">
            <button class="buttons button-violett" (click)="openProject('elPolloLoco')">Live test</button>
            <button class="buttons button-outline" (click)="openGithub('ElPolloLoco')">Github</button>
        </div>
    </div>
</div>

<div class="project-img">
    <img class="img-violett" src="assets/img/portfolio-violett.webp">
    <img class="higher-index" src="assets/img/laptop-simplecrm.webp">
    <div class="project-content">
        <h3>Simple CRM</h3>
        <h4>Angular | Firebase | Material | API</h4>
        <span>
            A simple CRM tool to manage your contacts and business deals, 
            helping you tracking your sales results.
        </span>
        <div class="button-div">
            <button class="buttons button-violett" (click)="openProject('crm')">Live test</button>
            <button class="buttons button-outline" (click)="openGithub('crm')">Github</button>
        </div>
    </div>
</div>