<header>
    <div class="no-color"></div>
    <div class="short-div"></div>
    <h2>Portfolio</h2>
    <div></div>
</header>
<span class="sub-headline">This page is a sample of my work - please feel free to try them out.</span>

<div class="project-img">
    <img src="assets/img/laptop-join.png">
    <div class="project-content">
        <h3>Join</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <span>
            Task manager inspired by the Kanban System. 
            Create and organize tasks using drag and drop functions, 
            assign users and categories.
        </span>
        <div class="button-div">
            <button class="buttons button-violett" (click)="openJoin()">Live test</button>
            <button class="buttons button-outline" (click)="githubJoin()">Github</button>
        </div>
    </div>
</div>

<div class="project-img project-reverse">
    <img src="assets/img/laptop-elpolloloco.png">
    <div class="project-content content-reverse">
        <h3>El Pollo Loco</h3>
        <h4>JavaScript | HTML | CSS</h4>
        <span>
            A simple Jump-and-Run game based on an object-oriented approach. 
            Help Pepe to find coins and salsa bottles to fight against the chicken.
        </span>
        <div class="button-div button-div-reverse">
            <button class="buttons button-violett" (click)="openElPolloLoco()">Live test</button>
            <button class="buttons button-outline" (click)="githubElPolloLoco()">Github</button>
        </div>
    </div>
</div>

<div class="project-img">
    <img class="img-violett" src="assets/img/portfolio-violett.png">
    <img class="higher-index" src="assets/img/laptop-pokedex.png">
    <div class="project-content">
        <h3>Pokedex</h3>
        <h4>JavaScript | HTML | CSS | API</h4>
        <span>
            Based on the PokéAPI a simple library that provides and catalogues pokemon information.
        </span>
        <div class="button-div">
            <button class="buttons button-violett" (click)="openPokedex()">Live test</button>
            <button class="buttons button-outline" (click)="githubPokedex()">Github</button>
        </div>
    </div>
</div>