<div class="container">
    <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
    <p>Marco von Baumbach<br />
        Lessingstr. 40<br />
        44147 Dortmund<br />
    </p>

    <h3>Kontakt</h3>
    <p>Telefon: 0231 96360839<br />
        E-Mail: marco.vonbaumbach@gmx.de</p>

    <p>Quelle: <a
            href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
    </p>
    <button class="buttons button-violett" [mat-dialog-close]="">Ok</button>
</div>