<div class="my-skills-section">
    <img class="img-blurred" src="assets/img/my-skills-blurred.png">
    <div class="skill-icons">
        <img src="assets/img/skills/Angular.png">
        <img src="assets/img/skills/Typescript.png">
        <img src="assets/img/skills/Javascript.png">
        <img src="assets/img/skills/HTML.png">
        <img src="assets/img/skills/Firebase.png">
        <img src="assets/img/skills/GIT.png">
        <img src="assets/img/skills/CSS.png">
        <img src="assets/img/skills/Rest-Api.png">
        <img src="assets/img/skills/Scrum.png">
        <img src="assets/img/skills/Material-Design.png">
    </div>
    <div class="my-skills-text">
        <h2>My Skills</h2>
        <span>
            I have grown my frontend developments skills that have allowed me to create different real projects.
        </span>
        <button class="buttons button-blue" (click)="scrollToSection('contact')">Get in touch</button>
    </div>
    <div class="horizontal-line"></div>
</div>
